.transport-table {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.border {
  border: 1px solid black;
  border-collapse: collapse;
}
.cell-padding {
  padding: 15px;
}
